<div class="bx-def-bc-padding">
    <cf_if:image>
    <div class="cf_coins_main_photo">
        <a title="__image_title__" href="__coin_url__"><img class="bx-def-shadow bx-def-round-corners bx-def-margin-sec-bottom" alt="__image_title__" src="__image_url__" /></a>
    </div>    
    </cf_if:image>
    <div class="cf_coins_main_info">
        <div class="cf_coins_main_info_title bx-def-font-h2">
            <a href="__coin_url__">__coin_title__</a> 
        </div>
        <div class="cf_coins_main_info_text">            
            <div>__country_city__</div>
            <div class="bx-def-font-grayed">__author_title__ <a href="__author_url__">__author_username__</a></div>
        </div>
        <div class="cf_coins_main_info_img">
            __rating__ 
            <div class="clear_both"></div>
            <div>__fans_count__ <cf_text:_cf_coins_fans /></div>
        </div>
        <div class="clear_both"></div>
    </div>
</div>
